
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="">Home</a>
        </li>
        <li>
          <a href="">Create List</a>
        </li>
        <li>
          <a href="">Create a Todo Item</a>
        </li>
      </ul>
    </nav>
  </header>
  {% block content %}
  {% endblock content %}
</body>
{% block pagination %}
{% endblock pagination %}

</html>